$yellow100: #eabc40;
$yellow200: #cd9f35;
$yellow300: #bc9430;

$transitionVariantVert: linear-gradient(rgba(#a66691, 0), rgba(#a66691, 1) 20%, #628df6, #65d8f6, transparent);
$transitionVariantHoz: linear-gradient(90deg, rgba(#a66691, 0), rgba(#a66691, 1) 20%, #628df6, #65d8f6, transparent);